# Visual studio codium
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# dynamic analysis tools
callgrind*
massif*
cachegrind*
heaptrack*
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# build folder
build/
CMakeLists.txt.*

# kate
*kate-swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*.swp
